@{
    ViewBag.Title = "Nuestro Proyecto";
}
<div class="rosa p-2">
    <div class="text-center mb-3 presentacion">

        <h2>@ViewBag.Title</h2>
    <div>
</div>


<div class="text-bg-light">
    <p>Este proyecto ha sido realizado por 5 estudiantes de ingeniería multimedia y trata sobre la implementación de una tienda online de artículos relacionados con la bisutería.</p>
    <img src="~/Content/Images/ua.png"/>
</div>

