@{
    ViewBag.Title = "Atención al cliente";
}


<div class="rosa p-2">
    <div class="text-center mb-3 presentacion">

        <h2>@ViewBag.Title.</h2>
        <h3>Aquí atendemos sus dudas</h3>
    </div>
</div>

        <section>
            <div class="container mt-5">
                <div class="row">
                    <article class="col"><a href="#"><input type="button" value="Entrega" class="btn btn-primary grandote"></a></article>
                    <article class="col"><a href="#"><input type="button" value="Cambios y Devoluciones" class="btn btn-primary grandote"></a></article>
                    <article class="col"><a href="#"><input type="button" value="Productos" class="btn btn-primary grandote"></a></article>
                    <article class="col"><a href="#"><input type="button" value="Experiencia en la tienda" class="btn btn-primary grandote"></a></article>
                </div>
                <div class="row">
                    <article class="col"><a href="#"><input type="button" value="Hacer un pedido" class="btn btn-primary grandote"></a></article>
                    <article class="col"><a href="#"><input type="button" value="Modificar tu pedido" class="btn btn-primary grandote"></a></article>
                    <article class="col"><a href="#"><input type="button" value="Mi cuenta en Jewilry" class="btn btn-primary grandote"></a></article>
                    <article class="col"><a href="#"><input type="button" value="Otros" class="btn btn-primary grandote"></a></article>
                </div>
            </div>
        </section>


        @*<address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>*@

        <address class="mt-5">
            <strong>Correo de contacto:</strong>   <a href="mailto:Support@example.com">Jewilry@gmail.com</a><br/>
        </address>
