@{
    ViewBag.Title = "Atención al cliente";
}
<h2>@ViewBag.Title.</h2>
<h3>Aquí atendemos sus dudas 🤙</h3>

<section>
    <div class="container">
        <div class="row">
            <article class="col"><a href="albumes"><input type="button" value="Entrega" class="btn grandote"></a></article>
            <article class="col"><a href="subir"><input type="button" value="Cambios y Devoluciones" class="btn grandote"></a></article>
            <article class="col"><a href="salbum"><input type="button" value="Productos" class="btn grandote"></a></article>
            <article class="col"><a href="configuracion"><input type="button" value="Experiencia en la tienda" class="btn grandote"></a></article>
        </div>
        <div class="row">
            <article class="col"><a href="tusfotos"><input type="button" value="Hacer un pedido" class="btn grandote"></a></article>
            <article class="col"><a href="afalbum"><input type="button" value="Modificar tu pedido" class="btn grandote"></a></article>
            <article class="col"><a href="misdatos"><input type="button" value="Mi cuenta en Jewilry" class="btn grandote"></a></article>
            <article class="col"><a href="baja"><input type="button" value="Otros" class="btn grandote"></a></article>
        </div>        
    </div>
</section>


@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>