@model Jewilry.Models.ArticuloViewModel
@{
    ViewBag.Title = "Jewilry";
}

<div class="rosa p-3">
    <div class="text-center mb-5 presentacion">
        <h1>JEWILRY</h1>
        <p class="lead"> Enriquece tu vida con los lujosos productos de bisutería que van a impresionar a todo el mundo.</p>
    </div>
</div>
<div class="">
    @{ Html.RenderAction("Carousel", "Articulo");}
</div>
