@model IEnumerable<Jewilry.Models.ArticuloViewModel>

<div class="p-3 text-center novedades" >
    <h4>¡NOVEDADES!</h4>
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-3 col-xs-12 mb-4">
                <div class="card text-center"  width="5%">
                    <img class="card-img-top" src=~/Content/Images/@item.Foto alt="Card image cap">
                    <div class="card-body border-top">
                        <h5 class="card-title">@Html.Raw((item.Nombre.Length > 28 ? (item.Nombre.Substring(0, 27) + "...") : item.Nombre))</h5>
                        @{
                            float i = 0;
                            for (i = 1; i <= item.ValoracionMedia && i <= 5; i++)
                            {
                                <span class="starGlowN"></span>
                            }
                            if (i - 1 < item.ValoracionMedia && i - 1 != 5)
                            {
                                <span class="starMediaN"></span>
                            }
                            for (i = (item.ValoracionMedia + 1); i <= 5; i++)
                            {
                                <span class="starFadeN"></span>
                            }
                        }
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)€</p>
                        @Html.ActionLink("Ver Detalles", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>

</div>




