@model IEnumerable<JewilryGenNHibernate.EN.JoyeriaJewirly.CategoriaEN>



@foreach (var item in Model)
{
        <li class="list-group-item ">@Html.ActionLink(item.Nombre, "PorCategoria", "Articulo", new { id = item.Id}, new {@class = "nav-link " })</li>        
}


