html { /* https://www.colorcombos.com/color-schemes/211/ColorCombo211.html */
    --c1: #eeafbe; /*rosa*/
    --c2: #56baec; /* blau */
    --c3: #b4d8e7; /*gris*/
    --c4: #ffec94;
    --c5: #fff0aa;
    --c6: #b0e57c;
    --c7: #FFD6D6; /*rosa claro*/
    --c8: #ebe7e8; /*rosa claro*/
    --b2: #fff;
    --t: #2c2c2c;
    --s: rgba(255, 255, 255, 0.5); /* sombra */
    --sc1: rgba(255, 174, 174, 0.5); /*sombra rosa*/
    --p: #eb445a; /* peligro */
}
@font-face {
    font-family: "Tommy";
    src: url('./Fonts/tommy.otf');
}
@font-face {
    font-family: "Tommy_extra";
    src: url('./Fonts/tommy_bold.otf');
}
@font-face {
    font-family: "Tommy_bold";
    src: url('./Fonts/tommy_extra.otf');
}
@font-face {
    font-family: "Tommy_regular";
    src: url('./Fonts/tommy_regular.otf');
}
.carouselcontent > h3 {
    color: var(--c1);
    font-family: Tommy_extra;
}
.novedades > h4 {
    font-family: Tommy_extra;
    font-size: 3em;
}
.enlaces {
    color: #6c757d;
}
.enlaces:hover {
    color: var(--c1);
}
.main-menu {
    border-bottom: 1px solid #d0d1d2;
    font-family: Tommy_regular;
    text-transform: uppercase;
}
.cosa {
    object-fit: cover;
}

.rosa{
    background-color: var(--c1);
}
.rosa > div {
    font-family: Tommy_extra;
    color: white;
}
.rosa > div > h1 {
    font-size: 5em;
}

.img-carrusel {
    width: 100%;
    max-width: 35em;
    max-height: 35em
}


.customCarousel {
    margin: 0em 0em 0 0em;
    background-color: var(--c8);
    font-family: Tommy_extra;
    text-transform: uppercase;
    color: black;
}
body {
    font-family: 'Tommy_regular','Leelawadee UI', sans-serif !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    font-family: 'Tommy_regular','Leelawadee UI', sans-serif !important;
}

@media (min-width: 1200px) {
    .customCarousel {
        margin: 1em 10em 0 10em;
    }

    .rosa > div {
        font-family: Tommy_extra;
        color: white;
    }

    .rosa > div > h1 {
        font-size: 10em;
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.carrito {
    width: 67px;
    height: 50px;
    padding: 0.5rem 1rem;
}
.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('../Content/Images/Icon/star2.png');
    min-width: 1em;
    min-height: 1em;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('../Content/Images/Icon/star2.png');
    min-width: 1em;
    background-repeat: no-repeat;
    min-height: 1em;
    display: inline-block;
}

.starGlow {
    background-image: url('../Content/Images/Icon/star.png');
    min-width: 1em;
    background-repeat: no-repeat;
    min-height: 1em;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('../Content/Images/Icon/star.png');
    background-repeat: no-repeat;
    min-width: 1em;
    min-height: 1em;
    display: inline-block;
}

.starMedia {
    background-image: url('../Content/Images/Icon/star3.png');
    min-width: 1em;
    background-repeat: no-repeat;
    min-height: 1em;
    display: inline-block;
    cursor: pointer;
}

.starMediaN {
    background-image: url('../Content/Images/Icon/star3.png');
    background-repeat: no-repeat;
    min-width: 1em;
    min-height: 1em;
    display: inline-block;
}

.btn {
    background-color: var(--c1);
    border-radius: 6px;
    display: inline-block;
    font-size: inherit;
    padding: 0.5em;
    transition: background-color .3s;
    border: 1px solid var(--c1);
    font-family: Tommy_regular, sans-serif;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: var(--c1);
    border: 1px solid var(--c1);
}

.grandote { /*ajusta botons al tamany del contenedor*/
    width: 100%;
    height: 90%;
}

.centro {
    text-align: center;
}

footer {
    
    padding: 0.1em;
}